<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rowColorOdd</key>
	<string>FFFFFF</string>
	<key>maxDownloadSpeed</key>
	<integer>1048576</integer>
	<key>rowColorEven</key>
	<string>C0C0C0</string>
	<key>plistVersion</key>
	<string>1.0.5 &quot;The Final Countdown&quot;</string>
	<key>cnfEnableTrashCan</key>
	<false/>
	<key>cnfEnableTrashCanAutocreate</key>
	<false/>
	<key>downloadSaveAsTemplate</key>
	<string>{name} ({channel} {start_time}-{end_time})</string>
	<key>pathFolderShowBytes</key>
	<true/>
	<key>showLatestOnlyUnwatched</key>
	<true/>
	<key>disableFacebook</key>
	<true/>
	<key>ical_before_start</key>
	<string>15</string>
	<key>ical_calendar_uid</key>
	<string></string>
	<key>ical_calendar_title</key>
	<string></string>
	<key>defaultDownloadLocation</key>
	<string>~/Downloads</string>
	<key>serviceIconName</key>
	<string>elisaviihde_logo</string>
	<key>serviceIconFileType</key>
	<string>png</string>
	<key>activeThemePath</key>
	<string></string>
	<key>activeThemeName</key>
	<string>eViihde</string>
	<key>guiServiceFontSize</key>
	<integer>11</integer>
	<key>guiRecordingsFontSize</key>
	<integer>12</integer>
	<key>cnfGUIView</key>
	<true/>
	<key>cnfSingleView</key>
	<true/>
	<key>cnfAllowContRemoveFromInRecs</key>
	<false/>
	<key>cnfHTTPTimeout</key>
	<integer>30</integer>
	<key>cnfRecFolderSelect</key>
	<false/>
	<key>cnfCBShowRecs</key>
	<true/>
	<key>cnfCBShowRecsToCome</key>
	<true/>
	<key>cnfCBShowChanList</key>
	<false/>
	<key>cnfCBShowTopList</key>
	<false/>
	<key>cnfCBKeepLogged</key>
	<false/>
	<key>lastUserName</key>
	<string></string>
	<key>logLevel</key>
	<integer>3</integer>
	<key>logFile</key>
	<string></string>
	<key>saveLogToFile</key>
	<false/>
	<key>cnfVLCFullScreen</key>
	<false/>
	<key>useVLC</key>
	<true/>
	<key>cbAutoLogin</key>
	<false/>
	<key>httpCacheEnabled</key>
	<true/>
	<key>httpServerAddress</key>
	<string>api.elisaviihde.fi/etvrecorder</string>
	<key>httpServerProtocol</key>
	<string>http</string>
	<key>cnfSyncServer</key>
	<true/>
	<key>cnfGuideSearch</key>
	<true/>
	<key>cnfAutoTrash</key>
	<true/>
	<key>cnfDisplaySmallInfoBox</key>
	<true/>
	<key>cnfCheckVersion</key>
	<true/>
	<key>cnfIgnoreVersionOf</key>
	<string>0.0.0</string>
</dict>
</plist>
